<div class="container">
    <h2 class="page-header">Add Employee</h2>
    <form [formGroup]="employeeForm">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" name="first_name" class="form-control" formControlName="first_name">
            <label>Last Name</label>
            <input type="text" name="last_name" class="form-control" formControlName="last_name">
            <label>Phone</label>
            <input type="text" name="phone" class="form-control" formControlName="phone">
            <br> <input type="submit" class="btn btn-success" value="{{status}}"
                (click)="(status=='Add')?addEmployee():updateEmployee()">
        </div>
    </form>
</div>
<div class="container">
    <h2 class="page-header">List of Employees</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees; let i = index">
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.phone}}</td>
                <td><input type="submit" class="btn btn-danger" value="Delete" (click)="deleteEmployee(employee._id)">
                    <input type="submit" class="btn btn-primary" value="Edit" (click)="editEmployee(i)">
                </td>
            </tr>
        </tbody>
    </table>
</div>